/*------------------------------------------------------------------
Project:	QR Code Gen Table
Version:	0.2
Last change:	08/03/2024
Assigned to:	Filipe Ribeiro
-------------------------------------------------------------------*/

/*------------------------------------------------------------------

01. General Settings
02. Header & Navigation
03. Table Data
04. Modal
05. Footer

-------------------------------------------------------------------*/

/*--------------------------------------------------
	01. General Settings
---------------------------------------------------*/

/* Google fonts or _typography */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Yanone+Kaffeesatz&display=swap'); */

/* <style>
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap')
</style> */

/* variables */

:root {
	/* colors */
	--background-primary: #181818;
	--background-3: #222;
	--backgorund-4: #333;
	--text-color-dark: #000000;
	--text-color-light: #aaff00;
	--hover-color: #ffff;
	--background-secondary: #aaff00;

	/* typography */

	/* --font: url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap'); */
}

/************************* RESET ***********************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Code', monospace;
	/* border: 1px solid orange; */
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	display: block !important;
}

main {
	display: block !important;
}

/* general settings */

html {
	scroll-behavior: smooth;
}

@media (max-width: 1085px) {
	html {
		font-size: 15px;
		/* font-weight: bold; */
	}
	h1 {
		font-size: 56px;
	}
}

@media (max-width: 1040px) {
	html {
		font-size: 14px;
		/* font-weight: bold; */
	}
}

@media (max-width: 991px) {
	html {
		font-size: 13px;
		/* font-weight: bold; */
	}
}

@media (max-width: 940px) {
	html {
		font-size: 12px;
		/* font-weight: bold; */
	}
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: 'Fira Code', monospace;
	background-color: var(--background-secondary);
	/* color: var(--background-primary); */
}
/* reusable css classes */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

@media (max-width: 480px) {
	.container {
		padding: 0 1rem;
	}
}

/*--------------------------------------------------
	02. Header & Navigation
---------------------------------------------------*/

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	height: 70px;
	padding: 2.5rem;
	background: var(--background-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 2.5rem;
	font-weight: bold;
}

a {
	color: var(--background-secondary);
	font-weight: bold;
}

a:hover {
	color: var(--hover-color);
	border-radius: 2px;
	transition: 0.5s;
}

.nav,
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

/*--------------------------------------------------
	03. Table Data
---------------------------------------------------*/
section {
	position: relative;
	/* width: 100vw; */
	height: 90vh;
	margin-top: 75px;
	display: flex;
	justify-content: center;
	background-position: right;
	background-color: var(--background-secondary);
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
}

.table {
	/* ** 1 versão ** */
	display: block;
	width: 90%;
	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	margin-right: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 5px;
	background-color: var(--backgorund-4);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}

table {
	width: 100%;
	table-layout: fixed;
	min-width: 900px;
}

/* you can reduce pixels above to make it responsive */

.table_header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	background-color: var(--background-primary);
}

.table_header p {
	color: var(--text-color-light);
	font-weight: bold;
	font-size: 1.2rem;
}

.table_section {
	background-color: var(--background-3);
	height: 500px;
	overflow: auto;
}

/* you can reduce pixels above to make it responsive */

button {
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	color: var(--text-color-light);
}

td button:nth-child(1) {
	background-color: var(--text-color-dark);
}

td button:nth-child(2) {
	background-color: var(--text-color-dark);
}

td button:nth-child(1):hover {
	background-color: #1ce002;
	color: var(--text-color-dark);
	transition: 0.5s;
}

td button:nth-child(2):hover {
	background-color: #ff0000;
	color: var(--text-color-dark);
	transition: 0.5s;
}

.add_new {
	padding: 10px 20px;
	color: var(--background-secondary);
	background-color: var(--background-3);
	border-radius: 5px;
}

.add_new:hover {
	color: var(--hover-color);
	background-color: var(--text-color-dark);
	transition: 0.5s;
}

/* ** Input (Add New) ** */

.table .table_header input {
	position: relative;
	margin: 0 10px;
	padding: 10px 20px;
	color: var(--background-3);
	background-color: var(--backgorund-4);
	font-size: 0.8rem;
	outline: none;
	border: 1px solid var(--text-color-dark);
	border-radius: 4px;
	color: var(--hover-color);
}

.table .table_header input::placeholder {
	left: 0;
	padding: 2px;
	font-style: normal;
	color: rgb(129, 129, 129);
	transition: 0.5s;
	pointer-events: none;
}

.table .table_header input:focus ~ ::placeholder,
.table .tabçe_header input:valid ~ ::placeholder {
	transform: translateY(-7.5px);
	font-size: 0.8em;
	color: var(--hover-color);
}

thead th {
	position: sticky;
	top: 0;
	background-color: var(--background-3);
	color: var(--text-color-light);
	/* font-size: 18px; */
	font-weight: 700 bold;
}

th,
td {
	border-bottom: 1px solid var(--text-color-light);
	padding: 10px 15px;
	font-size: 16px;
	font-family: 'Fira Code' monospace;
	word-break: break-all;
	text-align: center;
	color: var(--hover-color);
}

/* if you need to put a profile photo */

/* td img {
	height: 60px;
	width: 60px;
	object-fit: cover;
    border-radius: 15px;
    border: 5px solid color
} */

tr:hover td {
	color: var(--background-secondary);
	cursor: pointer;
}

.pagination {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px 20px;
	background-color: var(--background-primary);
}

.pagination div {
	padding: 10px;
	border: 2px solid var(--background-secondary);
	height: 40px;
	width: 40px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-3);
	color: var(--text-color-light);
	box-shadow: var(--background-secondary);
	margin: 0 5px;
	cursor: pointer;
}

.pagination div:hover {
	color: var(--hover-color);
	background-color: var(--text-color-dark);
	border: none;
	font-weight: 800 bold;
	transition: 0.5s;
	cursor: pointer;
}

::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px var(--background-primary);
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px var(--background-secondary);
}

/*--------------------------------------------------
	05. Footer
---------------------------------------------------*/

.footer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background-primary);
	gap: 1.5rem;
	font-weight: 300;
	font-size: 1rem;
	padding: 1.75rem 5rem;
}

.footer ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

@media (max-width: 800px) {
	.footer {
		padding: 1.75rem 1rem;
	}
}

.footer p {
	color: var(--text-color-light);
	font-size: 1rem;
	font-weight: 600;
}

/* .footer p,
a {
	text-decoration: none;
	color: var(--text-color-dark);
	font-weight: 600;
	font-size: 1rem;
} */

.facebook:hover {
	color: #3b5998;
	box-shadow: #3b5998;
	transition: 0.5s;
}

.instagram:hover {
	color: #ffa500;
	box-shadow: #ffa500;
	transition: 0.5s;
}

.linkedin:hover {
	color: #0e76a8;
	box-shadow: #0e76a8;
	transition: 0.5s;
}

.youtube:hover {
	color: #c4302b;
	box-shadow: #c4302b;
	transition: 0.5s;
}
